@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.page {
  width: 100%;
  max-width: 740px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 150px auto;
}
