{
  "presets": ["react", ["env", {
    "browsers": ["> 0.5%"],
    "modules": false
  }]],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "external-helpers"
  ]
}
