.h1 {
  text-align: center;
  margin-bottom: 100px;
}

.h1, .h2 {
  font-family: Montserrat, 'sans-serif', Arial, Verdana;
  line-height: 1.5;
  color: rgb(68, 68, 68);
}

.p, .li {
  font-family: 'Open Sans', 'sans-serif', Arial, Verdana;
  color: rgb(68, 68, 68);
}

.p, .li {
  line-height: 1.75;
}

.p {
  margin-bottom: 1em;
}

.code {
  padding: 0.2em 0;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
